[Camera]
; Camera Serial Number. If blank/empty, the first detected camera will be used.
serial_number = 26176619

; Binning: 1 (no binning), 2 (2x2), 3 (3x3), 4 (4x4)
binning = 2

; Output Resolution and Frame Rate
target_width = 1280
target_height = 720
fps = 25

; Aspect ratio preservation: true (adds black letterbox bars), false (stretches FOV)
preserve_aspect_ratio = false

; Exposure Configuration
auto_exposure = false
exposure_time_us = 40000

; Gain Configuration (set auto_gain = false to use manual gain_db)
auto_gain = false
gain_db = 18

[RTSP]
port = 8554
path = live

[MediaMTX]
bin_path = /home/rms/Desktop/Workspace/Mediamtx/mediamtx
config_path = /home/rms/Desktop/Workspace/Mediamtx/mediamtx.yml
